<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="system-menu" label="Système">
  <item label="Gestionnaire de Configuration d'Openbox">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Gerer imprimantes CUPS">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify>
        <enabled>no</enabled>
        <icon>cups</icon>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Recharger Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Programmes" />
 
  <menu id="archlinux-menus" label="Applications" execute="obm-xdg /etc/xdg/menus/xfce-applications.menu" />
    <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Terminal">
    <action name="Execute">
      <command>xfce4-terminal</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
    <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  
  <separator label="Systeme" />
  <menu id="system-menu"/>
  
  <separator label="Session" />
  <item label="Quitter">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
    </item>
    <item label="Eteindre">
    <action name="Execute">
      <command>oblogout</command>

    </action>
  </item>
</menu>

</openbox_menu>

